<head>
  <script src="https://unpkg.com/lucide@latest"></script>
</head>

<div class="sidebar" id="sidebar">
  <ul class="nav-links">
    <li class="sidebar_li">
      <a href="/dashboard" class="active">
        <i data-lucide="home" class="sidebar_icon"></i> Home
      </a>
    </li>
    <li class="sidebar_li">
      <a href="/explore">
        <i data-lucide="compass" class="sidebar_icon"></i> Explore
      </a>
    </li>
    <li class="sidebar_li">
      <a href="/monitor">
        <i data-lucide="activity" class="sidebar_icon"></i> Monitor
      </a>
    </li>
    <li class="sidebar_li">
      <a href="/analyze">
        <i data-lucide="bar-chart-2" class="sidebar_icon"></i> Analyze
      </a>
    </li>
    <li class="sidebar_li">
      <a href="/newsletters">
        <i data-lucide="newspaper" class="sidebar_icon"></i> Newsletters
      </a>
    </li>
    <li class="sidebar_li">
      <a href="/report">
        <i data-lucide="file-text" class="sidebar_icon"></i> Report
      </a>
    </li>
    <li class="sidebar_li">
      <a href="/alerts">
        <i data-lucide="bell" class="sidebar_icon"></i> Alerts
      </a>
    </li>
    <li class="sidebar_li">
      <a href="/content">
        <i data-lucide="sliders" class="sidebar_icon"></i> Content
      </a>
    </li>
    <li class="sidebar_li">
      <a href="/account">
        <i data-lucide="settings" class="sidebar_icon"></i> Account
      </a>
    </li>
  </ul>
</div>

<script>
  lucide.createIcons();
</script>
